* {
  font-family: Poppins;
  box-sizing: border-box;
}

#carouselExampleCaptions img {
  max-height: 35em;
  max-width: 90%;
  margin-inline: auto;
}
#carouselExampleCaptions .carousel-item {
  background-color: black;
}

.red {
  color: red;
}
