@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap);
* {
  font-family: Poppins;
  box-sizing: border-box;
}

#carouselExampleCaptions img {
  max-height: 35em;
  max-width: 90%;
  margin-inline: auto;
}
#carouselExampleCaptions .carousel-item {
  background-color: black;
}

@media only screen and (min-width: 990px) {
  li a {
    position: relative;
  }

  li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: teal;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}
